header {
    padding-bottom: 7px;
    .contact {
        text-align: right;
        strong {
            font-size: 24px;
            font-family: 'Bree Serif', sans-serif;
            color: $green-bg;
        }
        div {
            line-height: 17px;
            margin-top: 30px;
        }
    }
}